USE [master]
GO
/****** Object:  Database [webchamsoc1]    Script Date: 12/12/2018 13:28:26 ******/
CREATE DATABASE [webchamsoc1] ON  PRIMARY 
( NAME = N'webchamsoc1', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\webchamsoc1.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'webchamsoc1_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\webchamsoc1_1.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webchamsoc1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webchamsoc1]
GO
/****** Object:  Role [NhanVien]    Script Date: 12/12/2018 13:28:26 ******/
CREATE ROLE [NhanVien] AUTHORIZATION [dbo]
GO
/****** Object:  Role [GiamDoc]    Script Date: 12/12/2018 13:28:26 ******/
CREATE ROLE [GiamDoc] AUTHORIZATION [dbo]
GO
/****** Object:  FullTextCatalog [Timkiemhotro]    Script Date: 12/12/2018 13:28:26 ******/
CREATE FULLTEXT CATALOG [Timkiemhotro]WITH ACCENT_SENSITIVITY = ON
AUTHORIZATION [dbo]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/12/2018 13:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [nvarchar](50) NULL,
	[HoTenNhanVien] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[Luong] [float] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON
INSERT [dbo].[NhanVien] ([MaNV], [SDT], [HoTenNhanVien], [DiaChi], [NgaySinh], [GioiTinh], [Luong]) VALUES (1, N'0362136838', N'Vũ Hoàng Hải', N'Ha Noi', CAST(0xD51E0B00 AS Date), N'Nam', 10000000)
INSERT [dbo].[NhanVien] ([MaNV], [SDT], [HoTenNhanVien], [DiaChi], [NgaySinh], [GioiTinh], [Luong]) VALUES (2, N'0125407248', N'Đỗ Tú Tài', N'Ha Noi', CAST(0xB81D0B00 AS Date), N'Nam', 5000000)
INSERT [dbo].[NhanVien] ([MaNV], [SDT], [HoTenNhanVien], [DiaChi], [NgaySinh], [GioiTinh], [Luong]) VALUES (4, N'0168404704', N'Lê Anh Tuấn', N'Nam Dinh', CAST(0x3A1E0B00 AS Date), N'Nam', 5000000)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/12/2018 13:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [nvarchar](50) NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[CMTND] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_KhachHang] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([MaKH], [SDT], [TenKH], [DiaChi], [CMTND]) VALUES (1, N'0127404704', N'Nam', N'lao cai', N'163359585')
INSERT [dbo].[KhachHang] ([MaKH], [SDT], [TenKH], [DiaChi], [CMTND]) VALUES (3, N'0125404704', N'Hai', N'HaNoi', N'163359856')
INSERT [dbo].[KhachHang] ([MaKH], [SDT], [TenKH], [DiaChi], [CMTND]) VALUES (4, N'0128404704', N'Nghĩa', N'NamDinh', N'163359587')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
/****** Object:  Table [dbo].[HoTroYC]    Script Date: 12/12/2018 13:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoTroYC](
	[MaYC] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[NoiDungYC] [nvarchar](max) NULL,
	[NoiDungPH] [nvarchar](max) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[NgayYC] [date] NULL,
	[ThoiGianHoanThanh] [nvarchar](50) NULL,
	[NguyenNhan] [nvarchar](max) NULL,
	[NhanVienHoTro] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_HoTroYC] PRIMARY KEY CLUSTERED 
(
	[MaYC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HoTroYC] ON
SET IDENTITY_INSERT [dbo].[HoTroYC] OFF
/****** Object:  Table [dbo].[DanhGia]    Script Date: 12/12/2018 13:28:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[NoiDungDG] [nvarchar](max) NULL,
	[NgayDG] [date] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON
INSERT [dbo].[DanhGia] ([MaDG], [SDT], [NoiDungDG], [NgayDG]) VALUES (1, N'0127404704', N'Rất hài lòng về dịch vụ chăm sóc ở đây, nhân viên  hỗ trợ nhiệt tình ', CAST(0xAD3E0B00 AS Date))
INSERT [dbo].[DanhGia] ([MaDG], [SDT], [NoiDungDG], [NgayDG]) VALUES (2, N'0125404704', N'đối với tôi nhưng tôi thấy rất hài lòng về nhân viên chăm sóc đối với khách hàng', CAST(0xEA3E0B00 AS Date))
INSERT [dbo].[DanhGia] ([MaDG], [SDT], [NoiDungDG], [NgayDG]) VALUES (3, N'0126404704', N'Điều lớn nhất tôi cảm nhận được là sự tận tình, chu đáo và hết mình của các nhân viên chăm sóc đối với khách hàng', CAST(0xE83E0B00 AS Date))
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
/****** Object:  StoredProcedure [dbo].[laynhanvien]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[laynhanvien]
as
begin
select NhanVien.* from NhanVien
end
GO
/****** Object:  StoredProcedure [dbo].[laykhachhang]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[laykhachhang]
as
begin select * from KhachHang 
end
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](50) NOT NULL,
	[MaNV] [int] NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TaiKhoan] ([Username], [MaNV], [Password], [Email], [ChucVu]) VALUES (N'admin', 1, N'admin', N'trang@gmail.com', N'Giám Đốc')
INSERT [dbo].[TaiKhoan] ([Username], [MaNV], [Password], [Email], [ChucVu]) VALUES (N'chi hong', 10, N'123', N'c', N'Nhân Viên Chăm Sóc')
INSERT [dbo].[TaiKhoan] ([Username], [MaNV], [Password], [Email], [ChucVu]) VALUES (N'Hoang', 11, N'1', N'hoang@gmail.com', N'Nhân Viên')
/****** Object:  StoredProcedure [dbo].[timkiemtenkhachhang]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[timkiemtenkhachhang]
(@tenkhachhang nvarchar(500))
as
begin
select * from KhachHang where FreeText(TenKH,@tenkhachhang)
end
GO
/****** Object:  StoredProcedure [dbo].[timkiemsdtkhachhang]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[timkiemsdtkhachhang]
(@sodienthoai nvarchar(500))
as
begin
select * from KhachHang where FreeText(SDT,@sodienthoai)
end
GO
/****** Object:  StoredProcedure [dbo].[suanhanvien]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[suanhanvien]
(
@manv int,
@hoten nvarchar(MAX),
@diachi nvarchar(MAX),
@ngaysinh date,
@gioitinh nvarchar(50),
@luong float

)
as
begin
update NhanVien set HoTenNhanVien=@hoten,DiaChi=@diachi,NgaySinh=@ngaysinh,GioiTinh=@gioitinh,Luong=@luong where MaNV=@manv
end
GO
/****** Object:  StoredProcedure [dbo].[suakhachhang]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[suakhachhang]
(
@makhachhang int,
@tenkhachhang nvarchar(50),
@diachi nvarchar(MAX),
@cmtnd nvarchar(50)
)
as
begin
update KhachHang set TenKH=@tenkhachhang,DiaChi=@diachi,CMTND=@cmtnd where MaKH=@makhachhang
end
GO
/****** Object:  StoredProcedure [dbo].[themnhanvien]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themnhanvien]
(
@sodienthoai nvarchar(50),
@hoten nvarchar(MAX),
@diachi nvarchar(MAX),
@ngaysinh date,
@gioitinh nvarchar(50),
@luong float

)
as
begin
insert into NhanVien(SDT,HoTenNhanVien,DiaChi,NgaySinh,GioiTinh,Luong)
values(@sodienthoai,@hoten,@diachi,@ngaysinh,@gioitinh,@luong)
end
GO
/****** Object:  StoredProcedure [dbo].[themkhachhang]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themkhachhang]
(
@sodienthoai nvarchar(50),
@tenkhachhang nvarchar(50),
@diachi nvarchar(MAX),
@cmtnd nvarchar(50)
)
as
begin
insert into KhachHang(SDT,TenKH,DiaChi,CMTND)
values(@sodienthoai,@tenkhachhang,@diachi,@cmtnd)
end
GO
/****** Object:  StoredProcedure [dbo].[xoanhanvien]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoanhanvien]
(
@manv int
)
as
begin
delete NhanVien where MaNV=@manv
end
GO
/****** Object:  StoredProcedure [dbo].[xoakhachhang]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoakhachhang]
(
@makhachhang int
)
as
begin
delete from KhachHang where MaKH=@makhachhang
end
GO
/****** Object:  StoredProcedure [dbo].[xoayeucau]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[xoayeucau]
(
@mayeucau int
)
as
begin
delete HoTroYC where MaYC=@mayeucau
end
GO
/****** Object:  StoredProcedure [dbo].[xoataikhoan]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoataikhoan]
(
@username nvarchar(50)
)

as
begin
delete TaiKhoan where Username=@username
end
GO
/****** Object:  StoredProcedure [dbo].[xoadanhgia]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoadanhgia]
(
@madanhgia int
)
as
begin
delete DanhGia where MaDG=@madanhgia
end
GO
/****** Object:  StoredProcedure [dbo].[timkiemtinhtranghotro]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[timkiemtinhtranghotro]
(@tinhtrang nvarchar(500))
as
begin
select HoTroYC.*,KhachHang.TenKH from HoTroYC,KhachHang where FreeText(HoTroYC.TinhTrang,@tinhtrang)and KhachHang.SDT=HoTroYC.SDT
end
GO
/****** Object:  StoredProcedure [dbo].[timkiemtennhanvien]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[timkiemtennhanvien]
(@tennhanvien nvarchar(500))
as
begin
select NhanVien.*,TaiKhoan.ChucVu from NhanVien,TaiKhoan where FreeText(NhanVien.HoTenNhanVien,@tennhanvien)and NhanVien.MaNV=TaiKhoan.MaNV

end
GO
/****** Object:  StoredProcedure [dbo].[themdanhgia]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themdanhgia]
(
@sodienthoai nvarchar(50),
@noidungdg nvarchar(MAX),
@ngaydanhgia date

)
as
begin
insert into DanhGia(SDT,NoiDungDG,NgayDG)
values(@sodienthoai,@noidungdg,@ngaydanhgia)
end
GO
/****** Object:  StoredProcedure [dbo].[suadanhgia]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[suadanhgia]
(
@madanhgia int,
@noidungdg nvarchar(MAX),
@ngaydanhgia date

)
as
begin
update DanhGia set NoiDungDG=@noidungdg,NgayDG=@ngaydanhgia where MaDG=@madanhgia
end
GO
/****** Object:  StoredProcedure [dbo].[timkiemsdthotro]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[timkiemsdthotro]
(@sodienthoai nvarchar(500))
as
begin
select HoTroYC.*,KhachHang.TenKH from HoTroYC,KhachHang where FreeText(HoTroYC.SDT,@sodienthoai)and KhachHang.SDT=HoTroYC.SDT
end
GO
/****** Object:  StoredProcedure [dbo].[timkiemsdtdanhgia]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[timkiemsdtdanhgia]
(@sodienthoai nvarchar(500))
as
begin
select DanhGia.*,KhachHang.TenKH from DanhGia,KhachHang where FreeText(DanhGia.SDT,@sodienthoai)and KhachHang.SDT=DanhGia.SDT
end
GO
/****** Object:  StoredProcedure [dbo].[timkiemnoidungychotro]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[timkiemnoidungychotro]
(@noidungyeucau nvarchar(500))
as
begin
select HoTroYC.*,KhachHang.TenKH from HoTroYC,KhachHang where FreeText(NoiDungYC,@noidungyeucau)and KhachHang.SDT=HoTroYC.SDT
end
GO
/****** Object:  StoredProcedure [dbo].[timkiemchucvunhanvien]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[timkiemchucvunhanvien]
(@chucvu nvarchar(500))
as
begin
select NhanVien.*,TaiKhoan.ChucVu from NhanVien,TaiKhoan where FreeText(TaiKhoan.ChucVu,@chucvu)and NhanVien.MaNV=TaiKhoan.MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[thongkehotro]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[thongkehotro]
(
@tungay nvarchar(50),
@denngay nvarchar(50),
@tinhtrang nvarchar(50)
)
as
begin
select HoTroYC.*,KhachHang.TenKH from HoTroYC,KhachHang where HoTroYC.SDT=KhachHang.SDT and (NgayYC>=@tungay) and (NgayYC<=@denngay)and TinhTrang=@tinhtrang
end
GO
/****** Object:  StoredProcedure [dbo].[thongkedanhgia]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[thongkedanhgia]
(
@tungay nvarchar(50),
@denngay nvarchar(50)
)
as
begin
select DanhGia.*,KhachHang.TenKH from DanhGia,KhachHang where DanhGia.SDT=KhachHang.SDT and (NgayDG>=@tungay) and (NgayDG<=@denngay)
end
GO
/****** Object:  StoredProcedure [dbo].[themyeucau]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themyeucau]
(
@sodienthoai nvarchar(50),
@noidungyc nvarchar(MAX),
@noidungph nvarchar(MAX),
@tinhtrang nvarchar(50),
@ngayyc date,
@thoigianht nvarchar(50),
@nguyennhan nvarchar(MAX),
@hotennhanvien nvarchar(50),
@ghichu nvarchar(MAX)

)
as
begin
insert into HoTroYC(SDT,NoiDungYC,NoiDungPH,TinhTrang,NgayYC,ThoiGianHoanThanh,NguyenNhan,NhanVienHoTro,GhiChu)
values(@sodienthoai,@noidungyc,@noidungph,@tinhtrang,@ngayyc,@thoigianht,@nguyennhan,@hotennhanvien,@ghichu)
end
GO
/****** Object:  StoredProcedure [dbo].[themtaikhoan]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themtaikhoan]
(
@username nvarchar(50),
@manv int,
@password nvarchar(50),
@email nvarchar(50),
@chucvu nvarchar(50)

)
as
begin
insert into TaiKhoan(Username,MaNV,Password,Email,ChucVu)
values(@username,@manv,@password,@email,@chucvu)
end
GO
/****** Object:  StoredProcedure [dbo].[suayeucau]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[suayeucau]
(
@mayeucau int,
@noidungyc nvarchar(MAX),
@noidungph nvarchar(MAX),
@tinhtrang nvarchar(50),
@ngayyc date,
@thoigianht nvarchar(50),
@nguyennhan nvarchar(MAX),
@hotennhanvien nvarchar(50),
@ghichu nvarchar(MAX)
)
as
begin
update HoTroYC set NoiDungYC=@noidungyc,NoiDungPH=@noidungph,TinhTrang=@tinhtrang,NgayYC=@ngayyc,ThoiGianHoanThanh=@thoigianht,NguyenNhan=@nguyennhan,NhanVienHoTro=@hotennhanvien,GhiChu=@ghichu where MaYC=@mayeucau
end
GO
/****** Object:  StoredProcedure [dbo].[suataikhoan]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[suataikhoan]
(
@username nvarchar(50),
@manv int,
@password nvarchar(50),
@email nvarchar(50),
@chucvu nvarchar(50)

)
as
begin
update TaiKhoan set Username=@username,MaNV=@manv,Password=@password,Email=@email,ChucVu=@chucvu WHERE Username=@username
end
GO
/****** Object:  StoredProcedure [dbo].[laytaikhoan]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[laytaikhoan]
as
begin
select TaiKhoan.Username,TaiKhoan.MaNV,TaiKhoan.Email,TaiKhoan.ChucVu,NhanVien.HoTenNhanVien from TaiKhoan,NhanVien where TaiKhoan.MaNV=NhanVien.MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[layhotro]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[layhotro]
as
begin
select HoTroYC.*,KhachHang.TenKH from HoTroYC,KhachHang where HoTroYC.SDT=KhachHang.SDT
end
GO
/****** Object:  StoredProcedure [dbo].[laydanhgia]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[laydanhgia]
as
begin
select DanhGia.*,KhachHang.TenKH from DanhGia,KhachHang where KhachHang.SDT=DanhGia.SDT
end
GO
/****** Object:  StoredProcedure [dbo].[laychucvu]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[laychucvu]
as
begin
select NhanVien.*,TaiKhoan.ChucVu from NhanVien,TaiKhoan where NhanVien.MaNV=TaiKhoan.MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[kiemtradn]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[kiemtradn]
@tendangnhap nvarchar(50),
@matkhau nvarchar(50)
as
begin
select ChucVu,NhanVien.HoTenNhanVien,Username,Password from TaiKhoan,NhanVien where Username = @tendangnhap and Password =@matkhau and TaiKhoan.MaNV=NhanVien.MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[doimatkhau]    Script Date: 12/12/2018 13:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[doimatkhau]
(
@username nvarchar(50),
@password nvarchar(50)
)
as
begin
update TaiKhoan set Password=@password WHERE Username=@username
end
GO
/****** Object:  ForeignKey [FK_HoTroYC_KhachHang]    Script Date: 12/12/2018 13:28:28 ******/
ALTER TABLE [dbo].[HoTroYC]  WITH CHECK ADD  CONSTRAINT [FK_HoTroYC_KhachHang] FOREIGN KEY([SDT])
REFERENCES [dbo].[KhachHang] ([SDT])
GO
ALTER TABLE [dbo].[HoTroYC] CHECK CONSTRAINT [FK_HoTroYC_KhachHang]
GO
/****** Object:  ForeignKey [FK_DanhGia_KhachHang]    Script Date: 12/12/2018 13:28:28 ******/
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang] FOREIGN KEY([SDT])
REFERENCES [dbo].[KhachHang] ([SDT])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_KhachHang]
GO
/****** Object:  ForeignKey [FK_TaiKhoan_NhanVien]    Script Date: 12/12/2018 13:28:41 ******/
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
