<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="QuanLyChamSocKH.Properties.Settings.webchamsoc1ConnectionString"
            connectionString="Data Source=THANGTRAN\SQLEXPRESS;Initial Catalog=webchamsoc1;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />-->

    <add name="QuanLyChamSocKH.Properties.Settings.webchamsoc1ConnectionString"
               connectionString="Data Source=.;Initial Catalog=webchamsoc1;integrated security=True;"
               providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>