@{
    var KH = ViewBag.KH as Web.Models.KhachHang;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <title>TRUNG TÂM CHĂM SÓC KHÁCH HÀNG</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Wind Power Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/web/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--gallery-->
    <link rel="stylesheet" href="~/web/css/lightbox.css">
    <!--//gallery-->
    <!--stylesheets-->
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="~/logo.png" rel='icon' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!--js working-->
    <script src='~/web/js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
</head>
<body>
    <div class="login">
        @Html.Action("Login")
    </div>
    <div class="header-outs" id="header">
        <div class="header-w3layouts">
            <div class="container">
                <!--navigation section -->
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="hedder-up ">
                        <h1><a class="navbar-brand" href="/">VTC Suport</a></h1>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#about" class="nav-link scroll">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a href="#service" class="nav-link scroll">Dịch vụ</a>
                            </li>
                            @if (KH == null)
                            {
                                <li class="nav-item">
                                    <a href="#contact" class="nav-link scroll">Liên hệ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link scroll" data-toggle="modal" data-target="#login">Đăng nhập</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="#contact" class="nav-link scroll">Đánh giá</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link scroll">Xin chào, @KH.TenKH</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link scroll" data-toggle="modal" data-target="#doimatkhau">Đổi mật khẩu</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link scroll" data-toggle="modal" data-target="#logout">Đăng xuất</a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--//navigation section -->
        <!-- Slideshow 4 -->
        <div class="slider text-center">
            <div class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="slider-img one-img" style="background: url(/web/images/1920x400.png); background-position: center; background-size: cover;background-repeat: no-repeat;">
                            <div class="container">
                                <div class="slider-info ">
                                    @*<div class="banner-top-grid">
                                            <h4></h4>
                                        </div>
                                        <h5>VTC <span>Suport!</span></h5>
                                        <div class="bottom-info text-center">
                                            <h6>TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC)</h6>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img two-img" style="background: url(/web/images/1920x400_5.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;">
                            <div class="container">
                                <div class="slider-info ">
                                    @*<div class="banner-top-grid">
                                            <h4></h4>
                                        </div>
                                        <h5>VTC <span>Suport!</span></h5>
                                        <div class="bottom-info text-center">
                                            <h6>TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC)</h6>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slider-img three-img" style="background: url(/web/images/banner-vtc.jpg); background-position: center; background-size: cover;background-repeat: no-repeat;">
                            <div class="container">
                                <div class="slider-info">
                                    @*<div class="banner-top-grid">
                                            <h4></h4>
                                        </div>
                                        <h5>VTC <span>Suport!</span></h5>
                                        <div class="bottom-info text-center">
                                            <h6>TỔNG CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN (VTC)</h6>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- This is here just to demonstrate the callbacks -->
            <!-- <ul class="events">
               <li>Example 4 callback events</li>
               </ul>-->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //banner -->
    <!--about -->
    <section class="about" id="about">
        <div class="about-color py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <div class="row">
                    <div class="title clr col-lg-6 col-md-6 text-center">
                        <h3 class="clr">Giới thiệu</h3>
                    </div>
                    <div class="line-w3ls-title col-lg-6 col-md-6 ">

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-6 about-w3layouts-grids ">
                    <div class="row about-wthree-top">
                        <div class="col-lg-6 col-md-6 col-sm-6 about-icon-top">
                            <div class="color-icon color-4">
                                <span class="fa fa-leaf" aria-hidden="true"></span>
                            </div>
                            <h4>DỊCH VỤ TRUYỀN HÌNH</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 about-icon-top active">
                            <div class="color-icon color-1">
                                <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                            </div>
                            <h4>VIỄN THÔNG</h4>
                        </div>
                    </div>
                    <div class="row about-wthree-top">
                        <div class="col-lg-6 col-md-6 col-sm-6 about-icon-top">
                            <div class="color-icon color-2">
                                <span class="fa fa-sun-o" aria-hidden="true"></span>
                            </div>
                            <h4>NỘI DUNG SỐ</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 about-icon-top">
                            <div class="color-icon color-3">
                                <span class="fa fa-user" aria-hidden="true"></span>
                            </div>
                            <h4>TRUYỀN THÔNG</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-img-grids p-0">
                    <div class="img-position" style="height: 100%; width: 100%">
                        <img src="~/web/images/doitac(1).jpg" style="width: 100%" class="img-fluid" alt="">
                        <div class="overlay overlayTop text-hover-grid ">
                            <h4>VTC</h4>
                            <p class="pt-2">
                                Tổng công ty Truyền thông đa phương tiện Việt Nam (VTC) trực thuộc Bộ Thông tin và Truyền thông.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 about-img-grids p-0">
                    <div class="img-position text-center" style="height: 100%; width: 100%">
                        <img src="~/web/images/gioi-thieu.jpg" style="width: 100%" class="img-fluid" alt="">
                        <div class="overlay overlayTop text-hover-grid ">
                            <h4>VTC</h4>
                            <p class="pt-2">
                                Tổng công ty Truyền thông đa phương tiện Việt Nam (VTC) trực thuộc Bộ Thông tin và Truyền thông.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-w3layouts-grids ">
                    <div class="about-w3pvt-grid mb-lg-5 mb-md-4 mb-3">
                        <h2>VTC</h2>
                        <p class="pt-2">
                            Tổng công ty VTC hoạt động chính trong các lĩnh vực Nội dung số, Thương mại điện tử, Dịch vụ Truyền hình, Viễn thông, Công nghệ thông tin... Trong quá trình hoạt động và không ngừng phát triển, Tổng công ty VTC đã khẳng định được vị thế của một Tổng công ty nhà nước đi đầu trong việc khai thác, ứng dụng có hiệu quả tiềm năng và sức mạnh hội tụ của các ngành: Phát thanh - Truyền hình, Viễn thông và Công nghệ thông tin.

                            Tổng công ty VTC là đơn vị tiên phong trong việc nghiên cứu và đưa công nghệ Truyền hình kỹ thuật số áp dụng thành công vào Việt Nam, có ý nghĩa quan trọng để Bộ Thông tin và Truyền thông, Chính phủ làm căn cứ hoạch định Chiến lược phát triển ngành Truyền hình Việt Nam theo công nghệ kỹ thuật số tiên tiến theo Đề án “Số hóa truyền dẫn, phát sóng truyền hình mặt đất đến năm 2020”.

                            Tổng công ty VTC là một trong những đơn vị đi đầu và đặt nền móng cho sự hình thành và phát triển nền Công nghiệp Nội dung số ở Việt Nam. Trong những năm qua, sự phát triển lớn mạnh của nền Công nghiệp Nội dung số Việt Nam đã tạo ra bước phát triển mới trong lĩnh vực Công nghệ thông tin, là hạt nhân quan trọng, góp phần hiện thực hóa Đề án “Đưa Việt Nam sớm trở thành nước mạnh về Công nghệ thông tin và truyền thông” của Chính phủ.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//about-->
    <!-- service -->
    <section class="service" id="service">
        <div class="about-color py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <div class="row">
                    <div class="line-w3ls-title col-lg-6 col-md-6 ">
                    </div>
                    <div class="title clr col-lg-6 col-md-6 text-center">
                        <h3 class="clr">DỊCH VỤ</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-lg-4 my-md-3 my-sm-3 my-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <div class="tabs">
                    <div class="tab-button-outer">
                        <ul id="tab-button">
                            <li>
                                <a href="#tab01" class="color-1">
                                    <span class="fa fa-money" aria-hidden="true"></span>
                                    <h6>DỊCH VỤ TRUYỀN HÌNH</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#tab02" class="color-2">
                                    <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                                    <h6>VIỄN THÔNG</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#tab03" class="color-3">
                                    <span class="fa fa-lightbulb-o" aria-hidden="true"></span>
                                    <h6>NỘI DUNG SỐ</h6>
                                </a>
                            </li>
                            <li>
                                <a href="#tab04" class="color-4">
                                    <span class="fa fa-sun-o" aria-hidden="true"></span>
                                    <h6>TRUYỀN THÔNG</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-select-outer">
                        <select id="tab-select">
                            <option value="#tab01" class="change-headding">
                                Commercial
                            </option>
                            <option value="#tab02" class="change-headding">
                                Project
                            </option>
                            <option value="#tab03" class="change-headding">
                                Energy
                            </option>
                            <option value="#tab04" class="change-headding">
                                Panels
                            </option>
                        </select>
                    </div>
                    <!--tab1 -->
                    <div id="tab01" class="tab-contents">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 text-center">
                                <img src="~/web/images/vetinh(1).JPG" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="service-w3layouts-grid">
                                    <h5>DỊCH VỤ TRUYỀN HÌNH</h5>
                                </div>
                                <div class="list-job-grid mt-lg-4 mt-md-3 mt-3 ">
                                    <div class="row">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Vệ tinh</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Truyền hình Internet</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2"> Hybrid TV</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Giải pháp khóa mã ViCAS</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2"> Dịch vụ truyền dẫn phát sóng</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//tab1 -->
                    <!--//tab2 -->
                    <div id="tab02" class="tab-contents">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="service-w3layouts-grid">
                                    <h5>VIỄN THÔNG</h5>
                                </div>
                                <div class="list-job-grid mt-lg-4 mt-md-3 mt-3 ">
                                    <div class="row">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Điện toán đám mây</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Công nghệ thông tin</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Truyền tải dữ liệu</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-center">
                                <img src="~/web/images/vienthong.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <!--//tab2 -->
                    <!--tab3 -->
                    <div id="tab03" class="tab-contents">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <img src="~/web/images/noidungso(1).jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="service-w3layouts-grid">
                                    <h5>NỘI DUNG SỐ</h5>
                                </div>
                                <div class="list-job-grid mt-lg-4 mt-md-3 mt-3">
                                    <div class="row">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Trò chơi trực tuyến</p>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Dịch vụ giá trị gia tăng trên di động</p>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Thanh toán điện tử</p>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Thương mại điện tử</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//tab3 -->
                    <!--tab4 -->
                    <div id="tab04" class="tab-contents">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="service-w3layouts-grid">
                                    <h5>TRUYỀN THÔNG</h5>
                                </div>
                                <div class="list-job-grid mt-lg-4 mt-md-3 mt-3 ">
                                    <div class="row">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Truyền hình</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="left-icon">
                                            <span class="fa fa-arrow-right" aria-hidden="true"></span>
                                        </div>
                                        <div class="right-txt">
                                            <p class="mt-2">Tổ chức sự kiện</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-center">
                                <img src="~/web/images/truyen-thong.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <!--//tab4 -->
                </div>
            </div>
        </div>
    </section>
    <!--//service -->
    <!--//gallery -->
    @*<section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <div class="title text-center mb-lg-3 mb-2">
                    <h3 class="clr">Our Clients</h3>
                </div>
                <div class="line-w3ls-title text-center mb-lg-4 mb-3">
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et</p>
                </div>
                <div class="clients-txt">
                    <div class="">
                        <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#blogCarousel" data-slide-to="1" class="">
                                </li>
                                <li data-target="#blogCarousel" data-slide-to="2">
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="client-txt-color">
                                        <img src="~/web/images/c1.jpg" class="img-thumbnail" alt="">
                                        <div class="client-txt-info">
                                            <h4 class="mt-lg-5 mt-md-4 mt-3 mb-1 text-light"> Ted Willson</h4>
                                            <span class="pt-2"> Our Client</span>
                                            <p class="mt-sm-3 mt-2">Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <div class="carousel-item">
                                    <div class="client-txt-color">
                                        <img src="~/web/images/c2.jpg" class="img-thumbnail" alt="">
                                        <div class="client-txt-info">
                                            <h4 class="mt-lg-5 mt-md-4 mt-3 mb-1 text-light">Orcand Keen</h4>
                                            <span class="pt-2"> Our Client</span>
                                            <p class="mt-sm-3 mt-2 ">Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->
                                <!--.item-->
                                <div class="carousel-item ">
                                    <div class="client-txt-color">
                                        <img src="~/web/images/c3.jpg" class="img-thumbnail " alt="">
                                        <div class="client-txt-info">
                                            <h4 class="mt-lg-5 mt-md-4 mt-3 mb-1 text-light"> Jack Killy</h4>
                                            <span class="pt-2"> Our Client</span>
                                            <p class="mt-sm-3 mt-2">Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                        </div>
                        <!--.carousel-inner-->
                    </div>
                    <!--.Carousel-->
                </div>
            </div>
        </section>
        <!--//clients -->
        <!--price -->
        <section class="price" id="price">
            <div class="about-color py-lg-4 py-md-3 py-sm-3 py-3">
                <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                    <div class="row">
                        <div class="title clr col-lg-6 col-md-6 text-center">
                            <h3 class="clr">Our Price</h3>
                        </div>
                        <div class="line-w3ls-title col-lg-6 col-md-6 ">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-lg-4 my-md-3 my-sm-3 my-3">
                <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                    <div class="pricing-grids-info row">
                        <div class="col-lg-4 col-md-4 pricing-grid">
                            <div class="w3ls-bottom grid-two">
                                <div class="table-txt-grid">
                                    <h4>Commercial</h4>
                                    <h6 class="mt-2">comfortable price</h6>
                                </div>
                                <div class="middle-price">
                                    <div class="jst-price-tag">
                                        <div class="price-gride-icon">
                                            <h4> <span class="sup">$</span>60 </h4>
                                        </div>
                                    </div>
                                    <div class="mb-3 price-w3layouts-table">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                    <div class="price-list-txt">
                                        <ul class="count">
                                            <li>
                                                <p>Power Electronics</p>
                                            </li>
                                            <li>
                                                <p>Contract Economics</p>
                                            </li>
                                            <li>
                                                <p>Grid Connection</p>
                                            </li>
                                            <li>
                                                <p>Internal Audit</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="more mt-lg-5 mt-md-4 mt-sm-4 mt-3 p-2">
                                        <a href="#contact" class="scroll">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 pricing-grid">
                            <div class="w3ls-bottom grid-two">
                                <div class="table-txt-grid">
                                    <h4>Residential</h4>
                                    <h6 class="mt-2">comfortable price</h6>
                                </div>
                                <div class="middle-price">
                                    <div class="jst-price-tag">
                                        <div class="price-gride-icon">
                                            <h4> <span class="sup">$</span>70 </h4>
                                        </div>
                                    </div>
                                    <div class="mb-3 price-w3layouts-table">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                    <div class="price-list-txt">
                                        <ul class="count">
                                            <li>
                                                <p>Power Electronics</p>
                                            </li>
                                            <li>
                                                <p>Contract Economics</p>
                                            </li>
                                            <li>
                                                <p>Grid Connection</p>
                                            </li>
                                            <li>
                                                <p>Internal Audit</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="more mt-lg-5 mt-md-4 mt-sm-4 mt-3 p-2">
                                        <a href="#contact" class="scroll">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 pricing-grid">
                            <div class="w3ls-bottom grid-two">
                                <div class="table-txt-grid">
                                    <h4>Business</h4>
                                    <h6 class="mt-2">comfortable price</h6>
                                </div>
                                <div class="middle-price">
                                    <div class="jst-price-tag">
                                        <div class="price-gride-icon">
                                            <h4> <span class="sup">$</span>80</h4>
                                        </div>
                                    </div>
                                    <div class="mb-3 price-w3layouts-table">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                    <div class="price-list-txt">
                                        <ul class="count">
                                            <li>
                                                <p>Power Electronics</p>
                                            </li>
                                            <li>
                                                <p>Contract Economics</p>
                                            </li>
                                            <li>
                                                <p>Grid Connection</p>
                                            </li>
                                            <li>
                                                <p>Internal Audit</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="more mt-lg-5 mt-md-4 mt-sm-4 mt-3 p-2">
                                        <a href="#contact" class="scroll">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End-slider-script-->
                    </div>
                </div>
            </div>
        </section>*@
    <!--//price -->
    <!--contact -->
    <section class="contact" id="contact">
        <div class="about-color py-lg-4 py-md-3 py-sm-3 py-3">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <div class="row">
                    <div class="title clr col-lg-12 col-md-12 text-center">
                        <h3 class="clr">
                            @if (KH != null)
                            {
                                <span>Đánh giá</span>
                            }
                            else
                            {
                                <span>Liên hệ</span>
                            }
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-lg-4 py-md-3 py-sm-3 py-3 color-contact">
            <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
                <div class="row mb-lg-5 mb-md-4 mb-3">
                    <div class="col-lg-4 col-md-4 footer_grid_left text-center">
                        <div class="contact_footer_grid_left color-1 text-center mb-3">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <p>Tầng 14, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội</p>
                    </div>
                    <div class="col-lg-4 col-md-4 footer_grid_left text-center">
                        <div class="contact_footer_grid_left color-2 text-center mb-3">
                            <span class="fa fa-phone"></span>
                        </div>
                        <p>+84 24 3632 1588</p>
                    </div>
                    <div class="col-lg-4 col-md-4 footer_grid_left text-center">
                        <div class="contact_footer_grid_left color-3 text-center mb-3">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <p>
                            <a href="#">CSKH.VTC@VTC.com</a>
                            <br><a href="#">info@VTC.com</a>
                        </p>
                    </div>
                </div>
                @if (KH != null)
                {
                    using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 wthree-info-para">
                                <div class=" form-group contact-forms">
                                    <input type="text" class="form-control" name="HoTen" placeholder="Họ tên" required="" value="@KH.TenKH" pattern=".+" title="Vui lòng nhập họ tên">
                                </div>
                                <div class="form-group contact-forms">
                                    <input type="email" class="form-control" name="Email" placeholder="Email" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group contact-forms">
                                    <textarea class="form-control" rows="3" name="NoiDungDG" placeholder="Đánh giá.." required=""></textarea>
                                </div>
                                <div class="text-left click-subscribe">
                                    <button type="submit" class="btn btn-block click-me">Gửi</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
    <div class=" address_mail_footer_grids">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.745521402919!2d105.86187281480147!3d21.002835618095503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac089c9450cb%3A0xf7acf3044f9e961e!2zVG_DoCBuaMOgIFZUQywgMjMgTOG6oWMgVHJ1bmcsIFbEqW5oIFR1eSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1545724500050" style="border:0" allowfullscreen></iframe>
    </div>
    <!--//contact -->
    <footer class="py-lg-5 py-md-4 py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 footer-bottom">
                    <h4>TRỤ SỞ HÀ NỘI</h4>
                    <div class="footer-top mt-2">
                        <p>Tầng 14, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội</p>
                    </div>
                    <div class="line-footer"></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-bottom">
                    <h4>CHI NHÁNH TP.HCM</h4>
                    <div class="footer-top mt-2">
                        <p>259 Đồng Đen, Phường 10, Quận Tân Bình, TP.Hồ Chí Minh</p>
                    </div>
                    <div class="line-footer"></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-bottom">
                    <h4> Liên hệ</h4>
                    <div class="footer-top mt-3">
                        <p><span>Address</span> :Tầng 14, Tòa nhà VTC 23 Lạc Trung, Quận Hai Bà Trưng, Hà Nội</p>
                        <p class="pt-2"> <span> Phone</span> :+84 24 3632 1588</p>
                        <p class="pt-2">
                            <span>Email</span>   :<a href="mailto:info@VTC.com">info@VTC.com</a>
                        </p>
                    </div>
                    <div class="social-icons mt-lg-3 mt-2">
                        <ul>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-rss"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-bottom">
                    <h4> Dịch vụ</h4>
                    <div class="footer-top mt-md-3 mt-3">
                        <h6 class="pb-2">DỊCH VỤ TRUYỀN HÌNH</h6>
                        <h6 class="pb-2">VIỄN THÔNG</h6>
                        <h6 class="pb-2">NỘI DUNG SỐ</h6>
                        <h6>TRUYỀN THÔNG</h6>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer -->
    <!--model-->
    <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLiveLabel">Wind Power</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="~/web/images/b5.jpg" alt="" class="img-fluid">
                    <p class="pt-3">
                        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
                        eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellu
                    </p>
                    <p class="pt-3">
                        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
                        eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellu
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--//model-->
    <!-- gallery -->
    <script src="~/web/js/lightbox-plus-jquery.min.js"></script>
    <!-- //gallery -->
    <!--responsiveslides banner-->
    <script src="~/web/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 900,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--// responsiveslides banner-->
    <!-- service Tabs -->
    <script>
        $(function () {
            var $tabButtonItem = $('#tab-button li'),
                $tabSelect = $('#tab-select'),
                $tabContents = $('.tab-contents'),
                activeClass = 'is-active';

            $tabButtonItem.first().addClass(activeClass);
            $tabContents.not(':first').hide();

            $tabButtonItem.find('a').on('click', function (e) {
                var target = $(this).attr('href');

                $tabButtonItem.removeClass(activeClass);
                $(this).parent().addClass(activeClass);
                $tabSelect.val(target);
                $tabContents.hide();
                $(target).show();
                e.preventDefault();
            });

            $tabSelect.on('change', function () {
                var target = $(this).val(),
                    targetSelectNum = $(this).prop('selectedIndex');

                $tabButtonItem.removeClass(activeClass);
                $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
                $tabContents.hide();
                $(target).show();
            });
        });
    </script>
    <!--//service Tabs -->
    <!--gallery-->
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');

                if (value == "all") {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else {
                    //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                    //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");

        });
    </script>
    <!--// gallery-->
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="~/web/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
</body>
</html>